{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="country">Country</label>
    <select id="country" name="country" class="form-control">
      <option  value="argentina">Argentina</option>
      <option  value="austria">Austria</option>
      <option  value="azerbaijan">Azerbaijan</option>
      <option  value="belarus">Belarus</option>
      <option  value="belgium">Belgium</option>
      <option  value="belize">Belize</option>
      <option  value="bolivia">Bolivia</option>
      <option  value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
      <option  value="brasil">Brasil</option>
      <option  value="bulgaria">Bulgaria</option>
      <option  value="canada">Canada</option>
      <option  value="chile">Chile</option>
      <option  value="china">China</option>
      <option  value="colombia">Colombia</option>
      <option  value="croatia">Croatia</option>
      <option  value="cyprus">Cyprus</option>
      <option  value="czechia">Czechia</option>
      <option  value="denmark">Denmark</option>
      <option  value="plrd">Dominican Republic</option>
      <option  value="estonia">Estonia</option>
      <option  value="finland">Finland</option>
      <option  value="france">France</option>
      <option  value="georgia">Georgia</option>
      <option  value="germany">Germany</option>
      <option  value="greece">Greece</option>
      <option  value="guatemala">Guatemala</option>
      <option  value="hongkong">Hong Kong</option>
      <option  value="hungary">Hungary</option>       
      <option  value="iceland">Iceland</option>
      <option  value="inida">India</option>
      <option  value="indonesia">Indonesia</option>
      <option  value="iran">Iran</option>
      <option  value="ireland">Ireland</option>
      <option  value="israel">Israel</option>
      <option  value="italy">Italy</option>
      <option  value="npaj">Jamaica</option>
      <option  value="japan">Japan</option>
      <option  value="kazakhstan">Kazakhstan</option>
      <option  value="kuwait">Kuwait</option>
      <option  value="kyrgyzstan">Kyrgyzstan</option>
      <option  value="latvia">Latvia</option>
      <option  value="lithuania">Lithuania</option>
      <option  value="pwfl">Luxembourg</option>
      <option  value="malaysia">Malaysia</option>
      <option  value="mexico">Mexico</option>
      <option  value="moldova">Moldova</option>
      <option  value="nauru">Nauru</option>
      <option  value="netherlands">Netherlands</option>
      <option  value="newzealand">New Zealand</option>
      <option  value="niue">Niue</option>
      <option  value="norway">Norway</option>
      <option  value="papuanewguinea">Papua-New Guinea</option>
      <option  value="paraguay">Paraguay</option>
      <option  value="philippines">Philippines</option>
      <option  value="poland">Poland</option>
      <option  value="portugal">Portugal</option>
      <option  value="qatar-ua">Qatar</option>
      <option  value="romania">Romania</option>
      <option  value="russia">Russia</option>
      <option  value="serbia">Serbia</option>
      <option  value="singapore">Singapore</option>
      <option  value="slovakia">Slovakia</option>
      <option  value="slovenia">Slovenia</option>
      <option  value="southafrica">South Africa</option>
      <option  value="spain">Spain</option>
      <option  value="sweden">Sweden</option>
      <option  value="switzerland">Switzerland</option>
      <option  value="thailand">Thailand</option>
      <option  value="turkey">Turkey</option>
      <option  value="uae">United Arabe Emirates</option>
      <option  value="uk">United Kingdom</option>
      <option  value="usa">United States of America</option>
      <option  value="uganda">Uganda</option>
      <option  value="ukraine">Ukraine</option>
      <option  value="usvirgininslands">US Virgin Islands</option>
      <option  value="vietnam">Vietnam</option>
    <input type="submit" value="Register">
  </form>
{% endblock %}