{% extends 'base.html' %}

{% block header %}
  <h1>Recent Training</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-container">
    <table class="exercise-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Exercise</th>
          <th scope="col">Weight</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody>
        {% for row in exercises %}
          <tr>
            <td>{{ row.tday }}</td>
            <td>{{ row.exercise }}</td>
            <td>{{ row.weight }}</td>
            <td>{{ row.sets }}</td>
            <td>{{ row.reps }}</td>
            <td>
              <a href="{{ url_for('log.update', tid=row.tid) }}" class='btn btn-primary'>Edit</a>
              <a href="{{ url_for('log.delete', tid=row.tid) }}" class='btn btn-primary' onclick='return confirm("Are you sure")'>Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="other-container">
    <!-- content for the other container goes here -->
  </div>
</div>
{% endblock %}
