{% extends 'base.html' %}

{% block header %}

  <h1>Select a date:</h1>
  <form method="POST" action="{{ url_for('log.performance') }}">
    <div class="form-group">
      <input type="date" name="tdate" id="tdate" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">View Day</button>
  </form>

{% endblock %}

{% block content %}
   <div class="grid">
      {% if tperformance %}
        <h2>Viewing data for {{ tday }}</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Exercise</th>
              <th>Weight</th>
              <th>Sets</th>
              <th>Reps</th>
            </tr>
          </thead>
          <tbody>
            {% for row in tperformance %}
              <tr>
                <td>{{ row.tday }}</td>
                <td>{{ row.exercise }}</td>
                <td>{{ row.weight }}</td>
                <td>{{ row.sets }}</td>
                <td>{{ row.reps }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    
{% endblock %}
